version: "3.8"
services:
  eureka-server:
    image: eureka-server:1.0.0-SNAPSHOT
    container_name: eureka-server
    hostname: eureka-server
    ports:
      - "8761:8761"
    networks:
      - esprit-project-network

  config-server:
    image: config-server:1.0.0-SNAPSHOT
    container_name: config-server
    hostname: config-server
    ports:
      - "8888:8888"
    networks:
      - esprit-project-network

  user-management-service:
    image: user-management-service:1.0.0-SNAPSHOT
    container_name: user-management-service
    hostname: user-management-service
    environment:
      EUREKA_SERVER_URL: http://eureka-server:8761
      USER_MANAGEMENT_HOSTNAME: user-management-service
      PRODUCTS_SERVICE_URL: http://product-catalog-service:3000/product-catalog/api
    ports:
      - "8089:8089"
    depends_on:
      - eureka-server
      - config-server
    networks:
      - esprit-project-network


  inventory-service:
    image: inventory-service:1.0.0-SNAPSHOT
    container_name: inventory-service
    hostname: inventory-service
    environment:
      EUREKA_SERVER_URL: http://eureka-server:8761
      USER_MANAGEMENT_SERVICE_URL: http://user-management-service:8089
      PRODUCT_CATALOG_SERVICE_URL: http://product-catalog-service:3000
      PAYMENT_SERVICE_URL: http://payment-service:8084
    ports:
      - "9595:9595"
    depends_on:
      - eureka-server
      - config-server
      - user-management-service  
    networks:
      - esprit-project-network

  gateway:
    image: gateway:1.0.0-SNAPSHOT
    container_name: gateway
    hostname: gateway
    ports:
      - "9191:9191"
    environment:
      EUREKA_SERVER_URL: http://eureka-server:8761
      USER_MANAGEMENT_URL: http://user-management-service:8089
    depends_on:
      - eureka-server
      - user-management-service
      - config-server
    networks:
      - esprit-project-network

  product-catalog-service:
    image: product-catalog-service:1.0.0-SNAPSHOT
    container_name: product-catalog-service
    hostname: product-catalog-service
    ports:
      - "3001:3000"
    links:
      - mongo
    environment:
      MONGODB_URI: mongodb://mongo:27017/product-catalog-service
      EUREKA_HOST: eureka-server
      EUREKA_PORT: 8761
      JWKS_URI: http://user-management-service:8089/oauth2/jwks
      JWT_AUDIENCE: microservices-client
      JWT_ISSUER: http://user-management-service:8089
      USER_MANAGEMENT_SERVICE_URL: http://user-management-service:8089
      INVENTORY_SERVICE_URL: http://inventory-service:9786
    depends_on:
      - eureka-server
      - user-management-service
      - mongo
    networks:
      - esprit-project-network
  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27018:27017"
    networks:
      - esprit-project-network
    volumes:
      - mongo-data:/data/db

  payment-service:
    image: payment-service:1.0.0-SNAPSHOT
    container_name: payment-service
    environment:
      EUREKA_SERVER_URL: http://eureka-server:8761
      USER_MANAGEMENT_URL: http://user-management-service:8089
    ports:
      - "8084:8084"
    depends_on:
      - eureka-server
      - config-server
      - user-management-service
    networks:
      - esprit-project-network

  order-processing-service:
    image: order-processing-service:1.0.0-SNAPSHOT
    container_name: order-processing-service
    hostname: order-processing-service
    environment:
      EUREKA_SERVER_URL: http://eureka-server:8761
      USER_MANAGEMENT_SERVICE_URL: http://user-management-service:8089
      PRODUCT_CATALOG_SERVICE_URL: http://product-catalog-service:3000
      PAYMENT_SERVICE_URL: http://payment-service:8084
    ports:
      - "8989:8989"
    depends_on:
      - eureka-server
      - config-server
      - user-management-service  
    networks:
      - esprit-project-network

networks:
  esprit-project-network:
    driver: bridge

volumes:
  mongo-data:
