version: "3.8"
services:
  eureka-server:
    image: eureka-server:1.0.0-SNAPSHOT
    container_name: eureka-server
    hostname: eureka-server
    ports:
      - "8761:8761"
    networks:
      - esprit-project-network

  user-management-service:
    image: user-management-service:1.0.0-SNAPSHOT
    container_name: user-management-service
    hostname: user-management-service
    ports:
      - "8089:8089"
    networks:
      - esprit-project-network

  gateway:
    image: gateway:1.0.0-SNAPSHOT
    container_name: gateway
    environment:
      EUREKA_SERVER_URL: http://eureka-server:8761
      USER_MANAGEMENT_URL: http://user-management-service:8089
    ports:
      - "9191:9191"
    depends_on:
      - eureka-server
      - user-management-service
    networks:
      - esprit-project-network

  product-catalog-service:
    image: product-catalog-service:1.0.0-SNAPSHOT
    container_name: product-catalog-service
    hostname: product-catalog-service
    ports:
      - "3000:3000"
    links:
      - mongo
    environment:
      MONGODB_URI: mongodb://mongo:27017/product-catalog-service
  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  dummy-service:
    image: dummy-service:1.0.0-SNAPSHOT
    container_name: dummy-service
    environment:
      EUREKA_SERVER_URL: http://eureka-server:8761
      USER_MANAGEMENT_URL: http://user-management-service:8089
    ports:
      - "8081:8081"
    depends_on:
      - eureka-server
      - user-management-service
    networks:
      - esprit-project-network

networks:
  esprit-project-network:
    driver: bridge

volumes:
  mongo-data:
