spring:
  application:
    name: gateway
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${USER_MANAGEMENT_URL:http://localhost:8089}/oauth2/jwks
  cloud:
    discovery:
      enabled: true
    gateway:
      routes:
      - id: user-management
        uri: lb://USER-MANAGEMENT-SERVICE
        predicates:
        - Path=/api/users/**
      - id: oauth2-management
        uri: lb://USER-MANAGEMENT-SERVICE
        predicates:
        - Path=/oauth2/**, /.well-known/**
        filters:
        - name: SetRequestHostHeader
          args:
            host: localhost:8089
      - id: product-catalog
        uri: lb://PRODUCT-CATALOG-SERVICE
        predicates:
        - Path=/product-catalog/api/**
      - id: payment-service
        uri: lb://PAYMENT-SERVICE
        predicates:
        - Path=/payment-service/api/**
server:
  port: 9191
eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_SERVER_URL:http://localhost:8761}/eureka
logging:
  level:
    org.springframework.security: trace
debug: true
