spring:
  application:
    name: gateway
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${USER_MANAGEMENT_URL:http://localhost:8089}/oauth2/jwks
  cloud:
    discovery:
      enabled: true
    gateway:
      routes:
      - id: dummy
        uri: lb://DUMMY-SERVICE
        predicates:
        - Path=/dummy/**
      - id: user-management
        uri: lb://USER-MANAGEMENT-SERVICE
        predicates:
        - Path=/api/**, /oauth2/**, /.well-known/**
server:
  port: 9191
eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_SERVER_URL:http://localhost:8761}/eureka
  instance:
      hostname: localhost

debug: true
