spring:
  application:
    name: order-processing-service
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${USER_MANAGEMENT_URL:http://localhost:8089}/oauth2/jwks
eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_SERVER_URL:http://localhost:8761}/eureka
  instance:
      preferIpAddress: true
      
server:
  port: 8989

debug: true   